.login-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('../../assets/background.svg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Card styling */
.login-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-icon-img {
  width: 40px;
  height: 40px;
}

.login-heading {
  font-size: 22px;
  color: #1E2A5E;
}

.login-message {
  font-size: 16px;
  color: #777;
}

.login-input-group {
  margin-bottom: 15px;
  text-align: left; 
}

.login-input-group label {
  display: block;
  margin-bottom: 5px;
  color: #777;
  font-size: 16px;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.login-input-group input:focus {
  border-bottom: 2px solid #55679C;
}

.login-input-group input::placeholder {
  color: #aaa;
  opacity: 1; 
}

.login-options {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 15px; 
  align-items: center; 
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #777;
}

.remember-me input {
  margin-right: 5px; 
}

.forgot-password {
  color: #55679C; 
  font-size: 13px; 
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline; 
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #55679C;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1E2A5E;
}
